	/*通用头部*/
.table1 td{
margin: 0px;
padding: 0px;
border-left: 1px solid black;
border-bottom: 1px solid black;
width: 18px;
text-align: center;
}
.table2 td{
border: 0px;
text-align: center;
width: 247px;
}
h3{
text-align: center;
color:black;
}
p{
margin: 10px;
width: 990px;
}
.rad{
display: inline;
width: auto;
color: red;
}
/*框架*/
#all{
width: 100%;
font-size: 16px;
}
#center{
width: 990px;
margin-left: auto;
margin-right: auto
}
.head{
width: 990px;
margin-left: auto;
margin-right: auto
}
.mark{
text-align: right;
}
.table1{
width: 990px;
border-right: 1px solid black;
border-top: 1px solid black;
}
.table1{
width: 990px;
}
/*表内*/
.table1 .td0{
border: 0px;
}
.tr1{
height: 91px;
}
.tr1>td{
	width: 5%;
}
.tr2>td{
	width: 5%;
}
.tr2{
height: 450px;
}
textarea{
width: 80%;
}
