#all{
		width: 756px;
		height:1086px;
		left:50%;
		margin-left: -400px;
		position: absolute;
	}
td{
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	/*width: 5%;*/
}
input{
	padding: 8px;
}
textarea{
	width:96%;
	height: 80%;
	top: 30px;
	left: 10px;
	position: absolute;
}
h3{
	text-align: center;
	color: black;
}
p{
	margin: 0px;
}
#head{
		width: 100%;
}
table{
	width: 756px;
	border-right:1px solid black;
	border-top: 1px solid black;
}
.tr1{
	height:50px;
}
.tr1>td{
	border-left: 1px solid black;
	text-align: center;
}
.tr3{
	height: 40px;
}
.tr4{
	height: 200px;
}
.tr5{
	height: 530px;
}
input{
	width: 90%;
}
.td4{
	position: relative;
	text-align: center;
}
.txt{
	left: 2px;
	top:2px;
	position: absolute;
}
input[type='checkbox']{
	width: 20px;
}