/*通用头部*/
td{
	border: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
input{
	padding: 2px auto;
}
textarea{
	width: 98%;
}
h3{
	text-align: center;
	color: black;
}
p{
	margin: 0px;
}
/*框架*/
#all{
	width: 100%;
}
#center{
	width: 700px;
	margin-left: auto;
	margin-right: auto
}
#head{
	width: 700px;
	margin-left: auto;
	margin-right: auto
}
.mark{
	text-align: right;
}
table{
	width: 700px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
}

/*表内*/
.tr1{
	height:40px;
}
.tr1>td{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.td-last{
	border-right: 1px solid black;
}
.tr4{
	height: 40px;
}

input{
	width: 80%;
}